{{ define "main" }}
<h1 class="page-title">Research Papers</h1>

<p>The first time I realised that computer science was more than coding is when I looked at a PhD scholar's resarch project. Since then, there have been multiple instances where research papers have made me fall more in love with computer science. 
<br>This section is an effort to share it with the world and hopefully make others fall in love with research papers.
</p>

<ul class="posts">
    {{- range .Data.Pages -}} {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
    <li class="post">
        <a href="{{ .RelPermalink }}">{{.Title}}</a>
        <time>{{ dateFormat "2 Jan 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
    </li>
    {{- end -}} {{- end -}}
</ul>
{{ end }}
