{{ define "main" }}
<h1 class="page-title">{{ .Title }}</h1>

<p>This is a collection of notes, snippets, quotes, and everything else I want to publish outside the blog.</p>

<ul class="posts">
    {{- range .Data.Pages -}} 
    {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
    <section class="list-item">
        <div class="post-header">
            <h1 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
            <time>{{ dateFormat "2 Jan 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span>{{ end }}</time>
        </div>
        <!-- <div class="description">{{ .Summary }}</div> -->
    </section>
    {{- end -}} 
    {{- end -}}
</ul>

{{ end }}
