
/* berkley-mono-regular - latin */
@font-face {
    font-family: "Berkley Mono";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/berkley-mono-regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Monaspace Neon';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/monaspace-neon-regular.woff2') format('woff2'),
}
