@font-face {
    font-family: 'Courier Prime';
    src: url('../fonts/CourierPrime-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monaspace Neon';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/monaspace-neon-regular.woff2') format('woff2'),
}
