/* roboto-mono-regular - latin */
@font-face {  
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;  
  src: url('../fonts/roboto-mono-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-mono-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-mono-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-mono-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-mono-v12-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jetbrains-mono-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/jetbrains-mono-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/jetbrains-mono-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/jetbrains-mono-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/jetbrains-mono-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/jetbrains-mono-v11-latin-regular.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Gopher Mono';
  font-style: normal;
  src: url('../fonts/GopherMono-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GopherMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/GopherMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/GopherMono-Regular.woff') format('woff'), /* Modern Browsers */
      url('../fonts/GopherMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/GopherMono-Regular.svg#GopherMono-Regular') format('svg'); /* Legacy iOS */
  
}



