@font-face { font-family: "Phosphor-Bold"; src: url("../icons/Phosphor-Bold.woff2") format("woff2"); font-weight: normal; font-style: normal; font-display: block; }
.ph-bold { font-family: "Phosphor-Bold" !important; speak: never; font-style: normal; font-weight: normal; font-variant: normal; font-size: 17px; -webkit-font-smoothing: antialiased; }
.ph-bold.ph-at:before { content: "\e0ac"; }
.ph-bold.ph-butterfly:before { content: "\ea6e"; }
.ph-bold.ph-envelope:before { content: "\e214"; }
.ph-bold.ph-eyeglasses:before { content: "\e7ba"; }
.ph-bold.ph-github-logo:before { content: "\e576"; }
.ph-bold.ph-linkedin-logo:before { content: "\e2ee"; }
.ph-bold.ph-rss-simple:before { content: "\e402"; }
.ph-bold.ph-sunglasses:before { content: "\e816"; }
.ph-bold.ph-twitter-logo:before { content: "\e4ba"; }
